.vscode
.cache
build
data
.gitignore
.git/
reference/tmp
*.so
__pycache__
*.egg-info
runtime/proto/proto_src/*.pb.cc
runtime/proto/proto_src/*.pb.h
compile_commands.json
build_pip
compile.log
cmake-build-*
.idea
tmp
tools/ir-converter/dist
python/c_dist
.ipynb_checkpoints
squad-bert-base-uncased.zip
*.run
docs/zh_CN/source/beginner-series/notebooks/models
.tmp.quant.onnx
.tmp_quant.json
dist
ixrt/ir-converter
ixrt/irc
CalibrationTable_*
test/python/op_test/unittest.onnx
lib
ixrt/lib
IxrtExecLayerResult
.tmp.quant.params.json
.tmp.converted_optset11.onnx
.tmp.simplified.onnx

*.DS_Store
tensorrt
